body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	margin-top: 125px;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.touppercase{
	text-transform: uppercase;
}
#superior-menu{
	padding:10px 20px 10px 40%;
	box-sizing: border-box;
	overflow: hidden;
	background-color: #FFF;
}
#img{
	width: 200px;
	height: 50px;
	background-color: red;
	display: inline-block;
	vertical-align: middle;
}
.fa.fa-bars{
	font-size: 1.6em;
	vertical-align: middle;
	float:right;
}
#hq-menu{
	background-color: #303030;
	color:#FFF;
	padding: 5px 20px;
	box-sizing: border-box;
}
#hq-menu p{
	margin: 0;
	font-size: 1.8em;
	margin-bottom: 5px;
	display: inline-block;
	font-weight: bold;
}
#hq-menu ol{
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	float: right;

}
#hq-menu li{
	display: inline-block;
	font-size: 1.2em;
	margin-right: 30px;
	line-height: 2.45em;
}
#hq-menu li a{
	color:#FFF;
	text-decoration: none;
	font-weight: bold;
}
#hq-menu li a:hover{
	border-bottom: 4px solid #ffc107;
	padding-bottom: 8px;
}
.menu-active{
	border-bottom: 4px solid #ffc107;
	padding-bottom: 8px;
}
#state{
	width: 29%;
	margin: 15px 0 0 15px;
	background-color: #dddfe5;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: text-top;
	padding: 0 15px 20px;
}
#state input{
	margin-bottom: 15px;
	vertical-align: -2px;
}
#container-students{
	width: 68%;
	display: inline-block;
	box-sizing: border-box;
	padding: 15px;
	vertical-align: text-top;
}
.img-student{
	width: 115px;
	height: 115px;
	/*background-color: grey;*/
	display: inline-block;
	box-sizing: border-box;
	vertical-align: text-top;
}
.student{
	background-color: #dddfe5;
	margin-bottom: 10px;
}
.info-student{
	display: inline-block;
	vertical-align: text-top;
	padding-left: 7px;
	padding-top: 15px;
}
.info-student h5{
	margin: 0;
	font-size: .78em;
	text-transform: uppercase;
}
.info-student h4{
	margin: 0;
}
.info-student p{
	display: inline-block;
	margin: 0 10px 0 0;
	letter-spacing: 5px;
	font-variant: small-caps;
}
.student-active{
	border-right: 15px solid #1ABC9C;
}
.student-inactive{
	border-right: 15px solid #ff3737;
}
.student-points div{
	display: inline-block;
}